<!DOCTYPE html>
<html lang="en-US">
<head>
  <title>Resume</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="/javascripts/jquery-2.1.4.js"></script>
  <script src="/javascripts/main.js"></script>
</head>

<body>

<nav id="navMenu" class="navbar navbar-inverse navbar-fixed-top">
          <ul id="menuItems">
            <li><a id="res" class="menuitem">Resume</a></li>
            <li><a id="proj" class="menuitem">Projects</a></li> 
            <li><a id="con" class="menuitem">Contact Me</a></li> 
          </ul>
</nav>

<div id="contactMePanel" class="panel panel-default">
  <div id="panelHeading"class="panel-heading">Contact Me</div>
  <div id="contactMe" class="panel-body"><p id="panel_content">Phone No. +1 404-693-6827<br> School Email Address: ganapathy.hari.narayan@gatech.edu<br>Mailing Address: 930 Spring Street NW Atlanta GA 30309</p></div>
</div>

<div id="resume" class="panel panel-default">
  <div id="panelHeading"class="panel-heading">Resume</div>
  <div id="contactMe" class="panel-body"><p id="panel_content">Download a pdf copy of my resume over <a target="_blank" href="/images/Resume_Final.pdf">here</a></p></div>
</div>

<div id="projects" class="panel panel-default">
  <div id="panelHeading"class="panel-heading">Projects</div>
  <div id="contactMe" class="panel-body"><p id="panel_content">COMING SOON...</a></p></div>
</div>


<nav id="menu" class="navbar navbar-inverse navbar-fixed-bottom">
  <div id="menuHolder" class="container-fluid">
    <a id="title" class="navbar-brand">Ganapathy Hari Narayan</a>
    <br>
    <a id="subTit" class="navbar-brand"> (Software Developer)</a>
  </div>
</nav>
</body>

</html>
