html { 
	height: 100%;
}

body {
	background: radial-gradient(rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.6) 100%), url("../images/IMG_6143.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100%;
	overflow-x: hidden;
}

#bodyTitle {
	background: radial-gradient(rgba(84,84,84,0.4) 0%, rgba(0,0,0,0) 100%);
	background-color: black;
	height: 100%;
	width: 100%;
	color: white;
	text-align: center;
}

h1 {
	position: relative;
	top: 40%;
}

h3 {
	position: relative;
	top: 40%;
}

#navMenu {
	background: black;
	opacity: 0.6;
}

.nav.navbar-nav {
     float: left;
 }
 .nav.navbar-nav {
     clear: left;
     float: left;
     margin: 0;
     padding: 0;
     position: relative;
     left: 50%;
     text-align: center;
 }
 .nav.navbar-nav > li {
     position: relative;
     right: 50%;
 }
 .nav.navbar-nav li {
    text-align: left
 }

 #menu {
 	display: none;
 	background-color: black;
 	opacity: 0.7;
 }

 #menuHolder {
 	text-align: center;
 }

#contactMePanel {
	height: 500px;
	width: 100%;
	color: white;
	opacity: 0.6;
	border: none;
	background: none;
	padding-top: 50px;
}

#contactMe {
	background-color: black;
	width: 500px;
	margin: 250px auto;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 30px;
	padding-bottom: 30px;
	border-radius: 5px;

}

#resume {
	height: 500px;
	width: 100%;
	opacity: 0.6;
	color: white;
	border: none;
	background: none;
	display: none;
}

#subResume {
	background-color: black;
	width: 300px;
	text-align: center;
	margin: 250px auto;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
	border-radius: 5px;

}

#projects {
	height: 100%;
	background: none;
	color: white;
	border: none;
	display: none;
}