html { 
	height: 100%;
}

body {
	background: radial-gradient(rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.45) 100%), url("../images/IMG_6143.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100%;
}
#menu {
	background-color: black;
	opacity: 0.72;
	border-width: 0px;
	border-radius: 0px;
	height: 100px;
}

#navMenu {
	background-color: black;
	opacity: 0.72;
	border-width: 0px;
	border-radius: 0px;
	height: 50px;
}

#menuItems {
	padding-top: 10px;
	text-align: center;
}

li {
	display: inline;
	font-size: 20px;
}

.menuitem {
	color: white;
	opacity: 0.8;
	padding-bottom: 15px;
	padding-top: 15px;
	padding-right: 10px;
	padding-left: 10px;
}

.menuitem:hover {
	color: white;
	text-decoration: none;
	cursor: pointer;
	background-color: gray;
}

.menuitem:visited {
	color: white;
	text-decoration: none;
	cursor: pointer;
	background-color: gray;
}

.menuitem:active {
	color: white;
	text-decoration: none;
	cursor: pointer;
	background-color: gray;
}

.menuitem:focus {
	color: white;
	opacity: 0.8;
	text-decoration: none;
	cursor: pointer;
}

#menuHolder {
	text-align: center;
	margin-top: 28px;
}

#title {
	font-size: 30px;
	float: none;
	color: white;
	opacity: 0.8;
	padding-left: 60px;
	cursor: pointer;
}
#subTit {
	font-size: 15px;
	float: none;
	color: white;
	opacity: 0.8;
}

#contactMePanel {
	width: 300px;
	height: 100px;
	position: fixed;
	border-width: 0px;
  	top: 45%;
  	background-color: black;
  	opacity: 0.7;
  	left: 50%;
  	margin-left: 20px;
  	transform: translate(-50%, -50%);
  	display: none;
}

#contactMe {
	
	background-color: black;
	border-width: 0px;
  	color: white;
  	font-size: 12px;
  /* bring your own prefixes */
}

#panelHeading {
	font-size: 25px;
	color: white;
	border-width: 0px;
	background-color: black !important
}

@media only screen 
  and (min-width: 370px) 
  and (max-width: 436px) {
  	li {
		display: inline;
		font-size: 17px;
		padding-right: 15px;
	}

	#title {
		font-size: 25px;
		float: none;
		color: white;
		padding-left: 7px;
		opacity: 0.8;
		cursor: pointer;
	}

	body {
		background: radial-gradient(rgba(0,0,0,0.1) 0%, rgba(0,0,0,1) 100%), url("../images/IMG_6143.jpg") no-repeat center center fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		background-position: right;
		height: 100%;
	}
  }

@media only screen 
  and (min-width: 1px) 
  and (max-width: 370px) {
  	li {
		display: inline;
		font-size: 12px;
		padding-right: 15px;
	}

	#title {
		font-size: 25px;
		float: none;
		color: white;
		padding-left: 7px;
		opacity: 0.8;
	    cursor: pointer;
	}

	body {
		background: radial-gradient(rgba(0,0,0,0.1) 0%, rgba(0,0,0,1) 100%), url("../images/IMG_6143.jpg") no-repeat center center fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		background-position: right;
		height: 100%;
	}
  }



@media only screen 
  and (min-device-width: 370px) 
  and (max-device-width: 436px) {
  	li {
		display: inline;
		font-size: 17px;
		padding-right: 15px;
	}

	#title {
		font-size: 25px;
		float: none;
		color: white;
		padding-left: 7px;
		opacity: 0.8;
	}

	body {
		background: radial-gradient(rgba(0,0,0,0.1) 0%, rgba(0,0,0,1) 100%), url("../images/IMG_6143.jpg") no-repeat center center fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		background-position: right;
		height: 100%;
	}
  }

@media only screen 
  and (min-device-width: 1px) 
  and (max-device-width: 370px) {
  	li {
		display: inline;
		font-size: 12px;
		padding-right: 15px;
	}

	#title {
		font-size: 25px;
		float: none;
		color: white;
		padding-left: 7px;
		opacity: 0.8;
	}

	body {
		background: radial-gradient(rgba(0,0,0,0.1) 0%, rgba(0,0,0,1) 100%), url("../images/IMG_6143.jpg") no-repeat center center fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		background-position: right;
		height: 100%;
	}
  }


